*{
    box-sizing: border-box;
    margin: 0;
}
#landing{
    /* font-family: 'Comfortaa', cursive; */
    font-size: 36px;
    background-image: url(../Assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#delani{
    text-align: center;
    color: white;
   font-weight: 900;

}
/* #span1{
    font-size: 18px;
    font-weight: 400;

}
/* .img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
} */
/* .mouse{
    display: flex;
    justify-content: center;
    align-items: center;  
} */
#services{
   background-image: url(../Assets/backgrounds/s_image.jpg);
   background-size: cover; 
   background-repeat: no-repeat;
   color: white;
   font-size: 24px;
   
}

#contact{
    background-image: url(../Assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
form{
    opacity: 0.1;
    border-style:solid 1px white;
    border-width: 1px; 
    color: white;
}
