* {
    box-sizing: border-box;
    margin: 0;
    /* color: white; */
}

#landing {
    position: relative;
    font-size: 36px;
    background-image: url(../Assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

#d-landing {
    right: 7.5%;
    top: 20%;
    position: absolute;
    bottom: 2rem;
    padding: 1rem;
}
 #img {
    padding: 2rem;
    
}

#delani {
    padding-top: 1em;
    text-align: center;
    color: white;
    font-weight: 500;
    /* margin-top: 4rem; */

}

#studios {
    color: white;
    /* margin-top: 2rem; */

}

#amazing {
    color: white;
    font-size: 16px;
    margin-top: -2rem;
}
#mouse{
    margin-top:5rem;
    padding-top: 1rem;
}

#services {
    background-image: url(../Assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    /* padding-top: 2rem; */

}

#row-img {
    position: relative;
}
.col-md-3{
    position: relative;
    
    
}
.image {
    display: block;
    width: 100%;
    height: 100%;
    cursor:pointer ;
}

.image-overlay {
    position: absolute;
    top: 0;
    left:0;
    /* right: -10px; */
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.35s;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    /* border: solid white; */
}

.image-overlay>* {
    transform: translateX(10px);
    transition: transform 0.55s;
}

.image-overlay:hover {
    opacity: 1;

    
}

.image-overlay:hover>* {
    transform: translateX(0);
    transition: transform 0.55s;
}

#contact {
    position: relative;
    background-image: url(../Assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height:60vh ;

}
#contactUs{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

form{
    padding-top: 1rem;
    left: 0;
    /* position: absolute; */
   /* width: 60%; */

}
 input{
   /* color: white!important; */
   display: inline-block;
    background: transparent;
    border: 1px solid white;
    width: 46%;
    color: white;
}
textarea{
    background: transparent;
    color: white;
    border: 1px solid white;
    /* height: 100%; */

}
#btn{
    background: transparent;
    border:1px solid white;
    color: white;
}
#btn:hover{
    background-color: #f5f5f5;
    color: black;
}
#btn1{
    background: transparent;
    border:1px solid white;
    color:white;
    
}
#btn1:hover{
  
    background-color: #f5f5f5;
    color: black;
    
}
.form-label{
    color: white;
}
#error_message{
    /* display :none; */
    margin-bottom: 20px;
    padding: 0px;
    background-color:#fe8b8e ;
    text-align: center;
    font-size: 12px;
    transition: all 0.5s ease;
    /* color:black; */
}
.icons{
    margin-top: 3rem;
}








